---
// @ts-expect-error no types :(
import RgbQuant from 'rgbquant';
import { readFile } from 'fs/promises';
import * as nodepath from "path";
import { createCanvas, loadImage } from 'canvas';

type Props = {
    imagePath : string,
    dither?: boolean,
    caption?: string,
    altText: string,
};

// TODO: 
// we should also allow preprocessing in a prebuild script
// it'd be nice because then we can store metadata about the files and not have to pass it via 
// url

const {imagePath, dither = true, caption, altText} = Astro.props;
function typeOf(val : any) {
		return Object.prototype.toString.call(val).slice(8,-1);
	}

// Function to process the image
async function processImage() {
	const data = await readFile(imagePath);
    console.log("data: ", data);
	const img = await loadImage(data);
    console.log("image: ", img);

    console.log("typeof 2 : ", typeOf(img));
	const can = createCanvas(img.width, img.height);
    console.log("can: ", can);
    console.log("typeof 1 : ", typeOf(can));
	const ctx = can.getContext('2d');
    console.log("WIDTH : ", img.width);
    console.log("Height : ", img.height);
	ctx.drawImage(img, 0, 0, img.width, img.height);
    const imgd = ctx.getImageData(0, 0, img.width, img.height);

        const CMYK = [[0,0,0],
            [255,255,0],
            [0,255,255],
            [255,0,255],
            [255,255,255]]
            const GREEN_MONOCHROME = [
                [238,255,219],
                [29,56,1]

            ]
	const q = new RgbQuant({
        // colors: 256,
        // palette: GREEN_MONOCHROME, 
        palette: CMYK, 
        reIndex: true,
    });
	// q.sample(imgd.data, img.width);
	// const pal = q.palette(true);
	// const out = q.reduce(imgd.data, 1, "FloydSteinberg");
	const out = q.reduce(imgd.data, 1, "FloydSteinberg");

	// You might want to do something with 'out' here, e.g., render it
	return {out, width: img.width, height: img.height};
}

// You can call 'processImage' here to have the processed image ready for rendering
const { out, width, height } = await processImage();

const canvas = createCanvas(width, height);
const ctx = canvas.getContext('2d');
console.log('out:', out);
console.log('width:', width);
console.log('height:', height);
console.log('ctx:', ctx);

// Create an ImageData object from the Uint8Array
// const imageData = new ImageData(new Uint8ClampedArray(out), width, height);
// console.log("Image data: ", imageData);
const imageData = await ctx.createImageData(width, height);
imageData.data.set(new Uint8ClampedArray(out));
ctx.putImageData(imageData, 0, 0);

// Put the ImageData object into the canvas
// await ctx.putImageData(imageData, 0, 0);
// Todo we should put a contract in place or use an alias but for now we are doing this 
// this won't work for folders but yolo
const basename = nodepath.posix.basename(imagePath);

// Convert the canvas to a data URL
const dataUrl = canvas.toDataURL();
---



<a href=`/file/${basename}` class="block text-center">
<img src={dataUrl} alt={altText} />
{caption && <span class="block text-center mt-2">{caption}</span>}
</a>