---
import { SITE } from "$/config";
import SearchBtn from "./search/SearchBtn.svelte";

const { title, descriptions } = SITE;
const randomElem = (x) => x[Math.floor(Math.random() * x.length)];
const randomDescription = randomElem(descriptions);
---

<header class="flex justify-between items-center gap-4 py-3">
  <!-- Title and Description -->
  <a href="/">
    <div class="flex flex-col justify-center min-w-[16rem]">
      <div
        class="flex flex-col max-w-[15rem] font-mono text-2xl -tracking-[0.22rem]"
      >
        <div class="flex justify-between">
          <span class="text-black">the</span>
          <span class="text-expired-seaweed-salad">ephemeral</span>
        </div>
        <div class="text-unripe-plum">homestead</div>
      </div>
      <p class="text-sm flex-1 font-mono -tracking-[0.10rem]">
        {randomDescription}
      </p>
    </div>
  </a>

  <!-- Icons -->
  <div class="flex items-center gap-3">
    <!-- TODO: refactor searc button -->
    <SearchBtn client:visible />
    <!-- Commented out for right now because we only support light theme -->
    <!-- <ModeSwitcherBtn client:visible /> -->
  </div>
</header>
