---
import { randomElem } from "$/utils";

const pointShape = ["circle", "triangle", "square"] as const;
type PointShape = (typeof pointShape)[number];

type Props = {
  startShape?: PointShape;
  endShape?: PointShape;
  className?: string;
};

let { startShape, endShape, className } = Astro.props;

startShape = startShape ?? randomElem(pointShape);
endShape = endShape ?? randomElem(pointShape);
---

<div class={`flex items-center ${className ?? ""}`}>
  <div class={`shape w-3 h-3 ${startShape}`}></div>
  <div class="line flex-grow h-0.5 bg-black"></div>
  <div class={`shape w-3 h-3 ${endShape}`}></div>
</div>

<style>
  .shape.circle {
    @apply rounded-full bg-black;
  }
  .shape.triangle {
    @apply w-0 h-0 border-y-[8px] border-transparent border-l-[8px] border-l-black;
  }
  .shape.square {
    @apply bg-black;
  }
</style>
