---
import BaseLayout from "./BaseLayout.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Nav from "./Nav.astro";
import SearchModal from "./search/SearchModal.svelte";
---

<BaseLayout>
  <br class="my-4" />
  <Header />
  <Nav />
  <div class="content">
    <slot />
  </div>
  <br class="my-4" />
  <Footer />
  <div>
    <SearchModal client:load />
  </div>
</BaseLayout>

<style>
  .content {
    /* TODO: review this minheight */
    min-height: 580px;
    @apply max-w-xl mx-auto;
  }
</style>
