---
import BaseLayout from "./BaseLayout.astro";
import Header from "./Header.astro";
import Nav from "./Nav.astro";
import SearchModal from "./search/SearchModal.svelte";

export type Props = {
  showHeader?: boolean;
};

const { showHeader = true } = Astro.props;
---

<BaseLayout>
  <br class="my-4" />
  <Header />
  <!-- TODO: get rid of this -->
  {showHeader && <Nav />}
  <div class="content">
    <slot />
  </div>
  <br class="my-4" />
  <div>
    <SearchModal client:load />
  </div>
</BaseLayout>

<style>
  .content {
    @apply max-w-xl mx-auto;
  }
</style>
