---
import DefaultPageLayout from '$/layouts/default.astro'
import { SITE } from 'src/config'
import Prose from 'src/components/Prose.astro'


const title = 'About'
const description = 'About me :)'
---
<DefaultPageLayout
  content={{ title, description }}
>
  <Prose>
    I'm still not sure who I am. Come back later maybe we can find out together!

    <br>
    <h2>Socials</h2>
    <a href={ SITE.twitterUrl }>
        Twitter
    </a>

  </Prose>
</DefaultPageLayout>

