---
import { SITE } from "src/config";
import BaseHead from "$/components/BaseHead.astro";
import MainLayout from "$/components/MainLayout.astro";
---

<!-- TODO: extract this to work with default.astro --><!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE.title} description="About me landing page" />
  </head>
  <MainLayout showHeader={false}>
    <p>hi</p>
  </MainLayout>
</html>
