---
import { SITE } from "src/config";
import BaseHead from "$/components/BaseHead.astro";
import { Image } from "astro:assets";
import MainLayout from "$/components/MainLayout.astro";
// TODO: get rid of this type error
import dropCap from "$/assets/dropCap.png";
import frameMiles from "$/assets/framedMiles.png";

const paragraphs = [
  "i my name is Miles Conn. I’m currently a student at CMU studying CS. I’m interested in incentive design, compilers, computer graphics",
  "This is my personal website where I’m going to try and share what I’m working on.",
];
---

<!-- TODO: extract this to work with default.astro --><!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE.title} description="About me landing page" />
  </head>
  <MainLayout showHeader={true}>
    <div class="relative py-2">
      <!-- Image placement -->
      <Image src={frameMiles} alt="Image 1" class="float-left w-60 h-60" />

      <!-- top-0 left-1/2 sm:left-0 -translate-x-1/2 sm:translate-x-0 scale-50 float-left -->

      <!-- Text wrapping -->
      <div class="ml-8 item-body">
        <!-- Drop Cap -->

        <!-- Paragraphs -->

        <div class="flex items-end">
          <div class="inline-block">
            <a href="https://nohello.net/en/" class="image-link">
              <Image
                src={dropCap}
                alt="A drop cap of an H"
                class="relative inline-block w-16 h-16 object-contain align-text-top"
              />
            </a>
          </div>
          <p class="align-text-top" style="margin-bottom: 0;">
            <!-- Remove mb-4 if it's pushing the text up -->
            {paragraphs[0].substring(0, 24)}
          </p>
        </div>

        {
          paragraphs.map((para, index) => (
            <p class={`mb-4 ${index === 0 ? "drop-cap" : ""}`}>
              {index === 0 ? para.substring(24) : para}
            </p>
          ))
        }
      </div>
    </div>
  </MainLayout>
  <style>
    /* TODO: this doesn't work :( */
    .image-link:active img {
      filter: brightness(0.5) sepia(1) hue-rotate(270deg); /* Adjusts the image to a shade of purple */
    }
  </style>
</html>
