---
import FontTesting from "../components/pages/FontTesting.svelte";
import DefaultPageLayout from "$/layouts/default.astro";
import DitheredImage from "$/components/DitheredImage.astro";
---

<DefaultPageLayout content={{ title: "TITEL", description: "Description" }}>
  <FontTesting />
  <DitheredImage imagePath="src/assets/testImage.jpeg", altText="" caption="fig 1. A test image"/>
</DefaultPageLayout>

<!-- ---
import { getImage } from "astro:assets";
import myBackground from "../background.png"

const optimizedBackground = await getImage({src: myBackground, format: 'avif'})
---

<div style={`background-image: url(${optimizedBackground.src});`}></div> -->